  <div class="dropdown position-fixed" id="menu-{{ node.id }}">
    <ul class="dropdown-menu" role="menu">
      <li>
        <a class="pointer" role="menuitem" tabindex="1"
           ng-click="">Copy Block...</a>
      </li>
      <li>
        <a class="pointer" role="menuitem" tabindex="2"
           ng-click="">
           Add Block Template...
        </a>
      </li>
      <li>
        <a class="pointer" role="menuitem" tabindex="3"
           ng-click="">Move Block...</a>
      </li>
      <li>
        <a class="pointer" role="menuitem" tabindex="4"
           ng-click="performBlockPopUpAction('delete', '{{node.parentId}}', '{{node.id}}')">
           Delete
        </a>
      </li>
      <li>
        <a class="pointer" role="menuitem" tabindex="5"
           ng-click="">Add Free-form Page</a>
      </li>
      <li>
        <a class="pointer" role="menuitem" tabindex="6"
           ng-click="">Find...</a>
      </li>
    </ul>
  </div>